<% layout('layouts/boilerplate') %>
<div class="row mt-4">
    <div class="col-8 offset-3">
        <h3>Listings Details</h3>
        <img src="<%= listing.image %>" alt="listing_image" class="card col-6 show-card">
        <div class="card-body">
            <h5 class="card-title"><%= listing.title %></h5>
            <p class="card-text"><%= listing.description %></p>
            <p class="card-text"><strong>Price:</strong> &#8377; <%= listing.price.toLocaleString("en-IN") %></p>
        </div>
        <div class="row">
            <div class="col-md-4">
                <p class="card-text"><strong>Location:</strong> <%= listing.location %></p>
            </div>
            <div class="col-md-8">
                <p class="card-text"><strong>Country:</strong> <%= listing.country %></p>
            </div>
        </div>
    </div>
    <div class="btns mt-3">
    <a href="/listings/<%= listing._id %>/edit" class="btn btn-blue col-1 offset-3" >Edit</a>
    <br><br>
    <form action="/listings/<%= listing._id %>?_method=DELETE" method="POST">
        <button class="del-btn offset-3">Delete Listing</button>
    </form>
    </div>
</div>